librosa==0.9.1
matplotlib==3.5.2
munch==2.5.0
numpy==1.21.6
PyYAML==5.*
scikit_image==0.19.2
SoundFile==0.10.3.post1
torch==1.13.0
tqdm==4.64.0
torchmetrics
hurry.filesize
wandb~=0.13.4
freia~=0.2
pydct~=1.1.0
torchinfo~=1.7.1
torchsummary~=1.5.1
pynvml~=11.4.1
pillow~=9.2.0
torchvision~=0.14.0
ipython~=8.5.0
bitarray~=2.6.0
komm~=0.7.1
filetype~=1.2.0